<div>
    {{#each blogs as |blog|}}
    <div class="card">
        <h2>
            <a href="/dashboard/aBlog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <div>
            <p>created by: {{blog.user.name}}</p>
        </div>
        <div>
            {{body}}
        </div>
    </div>
    {{/each}}
</div>