<div>
    <h1> This is home admin</h1>
    {{#each blogs as |blog|}}
    <h2>{{blog.title}}</h2>
    <a href="/dashboard/edit/{{blog.id}}">
    <span>edit blog</span>
    </a>
    <p>{{blog.text}}</p>
    {{/each}}
    
</div>