<div>
    {{#each blogs as |blog|}}
    <a href="/dashboard/edit/{{blog.id}}">
    <span>edit </span>
    <span>{{blog.title}}</span>
    </a>
    {{/each}}
    <h1> This is home admin</h1>
    
</div>