<section>
    <h2>Add new blog</h2>

    <div id="newBlogContainer">
        <form id="newBlogForm">
            <input type="hidden" id="blogId" >
            <input type="text" placeholder="title" id="titleInput" >
            <textarea id="textInput"></textarea>

            <button type="submit">Confirm</button>
        </form>
    </div>

</section>
<script src="/js/newBlog.js"></script>